body {
	background: rgb(231, 235, 240);
	margin: 0;
    font-family: monospace;
}
/*
===========
Header
===========
*/
header { 
	background: #FFF;
	height: 40px;
    padding: 30px;
    border-bottom: 4px solid #505050;
}

	header .logo {
	    width: 50px;
	    height: 50px;
	    display: block;
	    float: left;
	}
		header .logo img {
			width: 100%;
			height: 100%;
		}
	header .nav {
		float: right;
	}
		header .nav a {
			font-size: 28px;
		    color: #19db2f;
		    margin-left: 20px;
		    text-decoration: none;
		}
			header .nav a:hover {
				color: #801513;
			}
/*
===========
Main
===========
*/
#main {
	width: 700px;
	margin: 0 auto;
	border: 2px solid red;
    height: 500px;
    overflow: hidden;
}
/*
===========
Left sidebar
===========
*/
#left-sidebar {
	width: 250px;
	float: left;
	background: #FFF;
	height: 100%;
}
/*
===========
User list
===========
*/
#user-list {
	padding: 0;
	overflow: scroll;
    height: 100%;
}
	#user-list li {
		list-style: none;
	    margin-bottom: 5px;
	    height: 50px;
	    border-bottom: 1px solid #c3c3c3;
	    padding: 5px;
	}
		#user-list li img {
			width: 50px;
			height: 50px;
		}
		#user-list li h2 {
		    width: calc(100% - 70px);
		    float: right;
		    margin: 0;
		}
		#user-list li p {
			margin: 0;
			width: calc(100% - 70px);
			float: right;
		    margin-top: -30px;
		}
/*
===========
Content
===========
*/
#right-sidebar{
	width: 450px;
	float: right;
	background: #FFF;
	height: 100%;

}
.some{

}
.writer{

	width: 99%;
	height: 90%;

}
#content {
	width: 449px;
	border-left: 1px solid #cc0000;
	float: right;
	background: #6cc34a;
}
	.text-type{
		width: 100%;
		padding: 15px;

	}




/*
===========
Helpers
===========
*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/*=============================
buttons
===============================
 */
.buttons{
padding-left: 30%;
}

.buttons a  {
	   text-decoration: none;
	   outline: none;
	   display: inline-block;
	   width: 140px;
	   height: 45px;
	   line-height: 45px;
	   border-radius: 45px;
	   margin: 10px 20px;
	   font-family: 'Montserrat', sans-serif;
	   font-size: 11px;
	   text-transform: uppercase;
	   text-align: center;
	   letter-spacing: 3px;
	   font-weight: 600;
	   color: #524f4e;
	   background: white;
	   box-shadow: 0 8px 15px rgba(0,0,0,.1);
	   transition: .3s;
   }
.buttons a:hover {
	background: #2EE59D;
	box-shadow: 0 15px 20px rgba(46,229,157,.4);
	color: white;
	transform: translateY(-7px);
}
