body {
	background: rgb(231, 235, 240);
	margin: 0;
    font-family: monospace;
}
#app {
	position: relative;
}

/*
===========
Header
===========
*/
header { 
	background: #FFF;
	height: 40px;
    padding: 30px;
    border-bottom: 4px solid #505050;
}

	header .logo {
	    width: 50px;
	    height: 50px;
	    display: block;
	    float: left;
	}
		header .logo img {
			width: 100%;
			height: 100%;
		}
	header .nav {
		float: right;
	}
		header .nav a {
			font-size: 28px;
		    color: #dbad3f;
		    margin-left: 20px;
		    text-decoration: none;
		}
			header .nav a:hover {
				color: navy;
			}
/*
===========
Main
===========
*/
#main {
	width: 700px;
	margin: 0 auto;
	border: 2px solid red;
    height: 500px;
    overflow: hidden;
}
/*
===========
Left sidebar
===========
*/
#left-sidebar {
	width: 250px;
	float: left;
	background: #FFF;
	height: 100%;
}
/*
===========
User list
===========
*/
#user-list {
	padding: 0;
	overflow: scroll;
    height: 100%;
}
	#user-list li {
		list-style: none;
	    margin-bottom: 5px;
	    height: 50px;
	    border-bottom: 1px solid #c3c3c3;
	    padding: 5px;
	}
		#user-list li img {
			width: 50px;
			height: 50px;
		}
		#user-list li h2 {
		    width: calc(100% - 70px);
		    float: right;
		    margin: 0;
		}
		#user-list li p {
			margin: 0;
			width: calc(100% - 70px);
			float: right;
		    margin-top: -30px;
		}
/*
===========
Content
===========
*/
#content {
	width: 449px;
	border-left: 1px solid #cc0000;
	float: right;
	background: #c3c3c3; 
}




/*
===========
Helpers
===========
*/
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }


#modal {
    position: absolute;
    width: 400px;
    height: 500px;
    top: calc(500px - 50%);
    left: calc(50% - 200px);
    background: #fefefe;
    border: 2px solid navy;
    border-radius: 10px;
}
#content {
	overflow: hidden;
	height: 100%;
}
#content ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 100%;
	overflow-x: scroll;

}
#content li {
	height: 100px;
	background: #fff;
	border-bottom: 1px solid blue;
}
